# Move build directory
build
!crates/sui-single-node-benchmark/tests/data/package_publish_from_bytecode/package_a/build
!crates/sui-single-node-benchmark/tests/data/package_publish_from_bytecode/package_b/build
storage
!consensus/core/src/storage
!crates/sui-types/src/storage
!narwhal/storage
gitkraken-amd64.deb